<mat-card>
  <mat-card-title-group>
    <mat-card-title class="type-title">Singleton</mat-card-title>
    <mat-card-subtitle class="type-subtitle">class decorator</mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <p>
      <code>@Singleton()</code> restricts the instantiation of a class to one "single"
      instance. This is useful when exactly one object is needed to coordinate actions
      across the system.
    </p>

    <h4>Example</h4>

    <pre><code [highlight]="example" [languages]="['typescript']"></code></pre>
  </mat-card-content>
</mat-card>